// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #191919;
$light-gray: #F4F4F4;
$neon-green: #1EFF00;
$black: #000000;
$neon-purple:#A221ED;
$amber-yellow: #FFBF00;
$grave-gray: #E4E4E4;
$white:#F8F8F8;
$green-level: #98ab00;
$dark-gray : #D2D2D2;
$radian-blue:#c6e2ff;
