html, body {
  background: $black;
  margin:0;
  padding:0;
  //height:100%;
  //min-height: 100vh;
  position: relative;
}
.container {
  border-radius: 8px;
}

.container-footer {
  border-radius: 8px;
  background: $black;
}

#page-container {

  min-height: 87vh;
  background: $black;
  margin-bottom: 8px;
}

#footer {

  padding:0;
  bottom: 0;
  width: 100vw;
  height: 2rem;            /* Footer height */
  background: $black;
  position: absolute;
}
