
.container {
  border-radius: 8px;
}

#page-container {

  min-height: 87vh;
  background: $black;
  margin-bottom: 0px;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
