
.container {
  border-radius: 8px;
}

#page-container {
  min-height: 84vh;
  background: $black;
  margin-bottom: 0px;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  height: 8vh;
  margin-top: auto;

  .footer-padding {
    padding: 2rem;
  }
}

.image-secours {
  width: 100vw;
  height: 100vh;

}
