canvas {
  position: relative;
  display : block;
  margin : auto;
  width: 70%;
  z-index: 1;


  .canvas-border {
    box-shadow: 0px 0px 10px $neon-green;
    border-radius: 4px;
  }
}

.game-story {
  padding: 15px;
  font-family: $players-font;
  font-size: larger;
  color: $white;
  line-height: 2em;
  margin-top: 25px;
}
