// Specific CSS for your home-page
body {
  background-color: $grave-gray;
}
.carousel-item {
  flex: 0 0 auto;
}

p {
  font-size : 24px;
}

.ligne {
  border: none;
  border-top: 3px solid $neon-purple;
  width: 90%; /* Ajustez la largeur selon vos besoins */
  margin: 0 auto; /* Centre la ligne horizontalement */
}
