.project-card {
  border: 4px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-top: 50px;
  width: 1200px;
  height: 1400px;
  background-color: $grave-gray;

  &:hover {
    transform: scale(1.02);
  }
}

.project-header {
  background-color: $grave-gray;
  color: $white;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #d3d3d3;

  h1 {
    margin: 0;
    font-size: 5em;
    font-family: 'Bebas Neue', sans-serif;
    color: #989898;

  }
}

.container-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.box {
  width: 600px;
  height: 737px;
  padding: 15px;
  color: $black;
  font-size: 25px;
}

.list-item {
  list-style-type: none;
}

.vertical-line {
  height: 750px;
  border-left: 4px solid #a9a9a9;
  margin: 0 10px;
}

.btn-special {
  padding-left:60px;
  padding-right:60px;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  min-height: 3rem;
  background-color: $grave-gray;
  border : 2px solid  #bababa;
  font-family: 'Dhurjati', sans-serif;
  font-size: 20px;
  color: $gray;
  text-align: center;

  &:hover {
    transform: scale(1.02);
    background-color:  $grave-gray;
    border : 3px solid  #898181;
    color: $black;
    font-weight: bolder;

}
}
.card {
  width: 800px;

  &:hover {
    transform: scale(1.02);
  }

.card-title {
  color: $white;
  font-size: 30px;
}

.card-text {
  font-size: 24px;
  border-bottom: 16px;
  color: $white;
  font-family: 'Rubik', sans-serif;

}
.card-subtitle {
  font-size: 24px;
  color: $white;
  font-family: 'Bebas Neue', sans-serif;
}

.card-header {
  color: $black;
}
.card-body {
  color: $white;
}

}
