.all {
  background-color: $black;
}

.card-infos {
  width: 300px;
  height: 200px;
  background-color: $gray;

}

.project-card {
  border: 2px solid $gray;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-top: 50px;
  width: 1200px;
  height: 1000px;
  background-color: $black;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px $neon-green;
  }

  .project-header {
    background-color: $black;
    color: $white;
    padding: 20px;
    text-align: center;
    border: 1px solid $gray;

    h1 {
      margin: 0;
      font-size: 5em;
      font-family: 'Bebas Neue', sans-serif;
    }
  }
}

.card {
  width: 800px;


  &:hover {
    transform: scale(1.02);
  }

.card-title {
  color: $white;
  font-size: 30px;
}

.card-text {
  font-size: 24px;
  border-bottom: 16px;
  color: $white;
  font-family: 'Bebas Neue', sans-serif;

}
.card-subtitle {
  font-size: 24px;
  color: $white;
  font-family: 'Bebas Neue', sans-serif;
}



.card-header {
  color: $black;
}
.card-body {
  color: $white;
}

}

.gradient-dark-button {
  background: linear-gradient(to bottom, #444, #222);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.gradient-dark-button:hover {
  background: linear-gradient(to bottom, #222, #000);
  text-decoration: none;
}
