.all {
  background-color: $dark-gray;
  color : $white;
}

.card {
  color : $white;
  background-color: $gray;
  border-radius: 20px;
  padding:10px;
  border: 2px solid $dark-gray;

}

.card-unicorn{

  color : $white;
  background-color: $gray;
  border-radius: 20px;
  padding:10px;
  border: 2px solid $dark-gray;
  width: 100rem;
  height: 50rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    animation: scrollCredits infinite 60s linear;
  }

}

.banner-unicorn {
  overflow: hidden;
  background-size: cover;
  padding: 40px ;
  background-color: $black;
  padding-bottom: 100px;
  border-bottom: 3px solid $neon-purple;
  border-top: 3px solid $neon-purple;
}

@keyframes scrollCredits {
  0% {
    transform: translateY(190%);
  }
  100% {
    transform: translateY(-500%);
  }
}





.card-subtitle {
  color : $white;
}

.card h5,h6,h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

.card-line {
  color : $black;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;

}


.card-white {
  background-color: $grave-gray;
}
.text-gray {
  color : #495057;

}

.card-line-title {
  font-family: 'Dhurjati', sans-serif;
  color : $black;
}

.thin-line {
  border: none;
  border-top: 2px solid #898181;
  margin : 5px 5px;
}

.btn-special {
  padding-left:60px;
  padding-right:60px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  border-radius: 10px;
  text-decoration: none;
  min-height: 3rem;
  background-color: $grave-gray;
  border : 2px solid  #bababa;
  font-family: 'Dhurjati', sans-serif;
  font-size: 20px;
  color: $gray;

  &:hover {
    transform: scale(1.02);
    background-color:  $grave-gray;
    border : 3px solid  #898181;
    color: $black;
    font-weight: bolder;

}
}
