 .all {
  background-color: $gray;
}

.cim-ban-left {
  background-size: cover;
  padding: 15px ;
  background-color: $black;
  border-bottom: 0,5rem solid $white;
  border-top: 0,5rem solid $white ;
  margin-left: 230px;
}

.cim-ban-right {
  background-size: cover;
  padding: 15px ;
  background-color: $black;
  border-bottom: 0,5rem solid $white;
  border-top: 0,5rem solid $white ;
}
