.all {
  background-color: $dark-gray;
  color : $white;
}

.card {
  color : $white;
  background-color: $gray;
  border-radius: 20px;
  padding:10px;
  border: 3px solid $grave-gray;

}

card-subtitle {
  color : $white;
}

.card h5,h6,h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

.card-line {
  color : $black;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;

}


.card-white {
  background-color: $grave-gray;
}
.text-gray {
  color : #495057;

}

.card-line-title {
  font-family: 'Dhurjati', sans-serif;
  color : $black;
}

.thin-line {
  border: none;
  border-top: 2px solid #898181;
  margin : 5px 5px;
}

.btn-special {
  padding-left:60px;
  padding-right:60px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  border-radius: 10px;
  text-decoration: none;
  min-height: 3rem;
  background-color: $grave-gray;
  border : 2px solid  #bababa;
  font-family: 'Dhurjati', sans-serif;
  font-size: 20px;
  color: $gray;

  &:hover {
    transform: scale(1.02);
    background-color:  $grave-gray;
    border : 3px solid  #898181;
    color: $black;
    font-weight: bolder;

}
}
