<div class="card startup-card bg-image" style="width: 18rem;">
    <img src="logo.png" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <p class="card-text">nom :</p>
      <p class="card-text">foundateur :</p>
      <p class="card-text">Année de création :</p>
      <p class="card-text">Année de faillite :</p>
      <p class="card-text">Nombre d'employés :</p>
      <p class="card-text">Adresse :</p>
      <p class="card-text">Secteur :</p>
      <p class="card-text">Raisons de la faillite :</p>
  </div>
</div>
