<div class="container m-0 d-flex flex-column">
  <div class="col-12" data-controller="game" data-game-target="div">
    <div id="level" class="canva" data-project="<%= { name: @project.name, level: @level.index, funds: @project.funds }.to_json %>">
    </div>
  </div>

  <div class="col-6 mx-auto mt-3">
    <%= simple_form_for [:game, @project, @level], url: project_level_game_project_path(@project, @level), method: :patch do |f| %>
      <%= f.submit "Analyse de la partie", class: "big-button-neon-green ml-auto"%>
    <% end %>
  </div>
</div>
