<footer id="footer" class="p-0 mt-3">
<div class="container-footer">
    <div class=" d-flex justify-content-center m-0 p-0">
      <%= link_to "https://www.facebook.com/?locale=fr_FR", target: '_blank' do %>
        <button type="button" class="btn  btn-lg btn-floating mx-3" >
          <i class="fab fa-facebook-f text-white"></i>
        </button>
      <%end %>
      <%= link_to "https://www.youtube.com/?gl=FR&hl=fr", target: '_blank' do %>
        <button type="button" class="btn  btn-lg btn-floating mx-3 hover-youtube">
          <i class="fab fa-youtube text-white"></i>
        </button>
      <%end %>
      <%= link_to "https://www.instagram.com/", target: '_blank' do %>
        <button type="button" class="btn btn-lg btn-floating mx-3 hover-instagram">
          <i class="fab fa-instagram text-white"></i>
        </button>
      <% end %>
      <%= link_to "https://twitter.com/?lang=fr", target: '_blank' do %>
        <button type="button" class="btn btn-lg btn-floating mx-3">
          <i class="fab fa-twitter text-white"></i>
        </button>
      <% end %>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white pt-4 pb-3" style="background: black;">
      © 2023 Copyright
    </div>
    <!-- Copyright -->
</div>
</footer>

<!-- End of .container -->
