<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://raw.githubusercontent.com/gwittebolle/station_fails/master/app/assets/images/station-fails-background.png');">
<div class="container">
  <div class="d-flex">
    <h1 class="h1" >Bienvenue chez </h1><%= image_tag("logo-station-fails.png", width: 450, class: "img-fluid station") %>
    </div>
    <div class="ghost">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
    <h3 class="h3">Oserez-vous tester vos chances de survie en tant que start-up?</h3>
  </div>
</div>
