<div class="banner" style="background-color: $black" >
  <div class="container-grape">
    <h1 class="banner h1" >Bienvenue chez Station Fails</h1>
    <h3 class="banner h3">Oserez-vous tester vos chances de survie en tant que start-up?</h3>
  </div>
</div>
