<%# <div class="banner mb-0" style="background: url('https://raw.githubusercontent.com/gwittebolle/station_fails/master/app/assets/images/station-fails-background.png') right/cover,
linear-gradient(to right, rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0.3));"> %>
<div class="banner mb-0" style="background:url('https://raw.githubusercontent.com/gwittebolle/station_fails/master/app/assets/images/station-fails-background.png') right/cover,
linear-gradient(to right, rgba(210, 210, 210, 0.1), rgba(210, 210, 210, 0.5));">
  <div class="container">
    <div class="d-flex align-items-center mb-2">
      <%= image_tag("logo-station-fails.png", width: 700, class: "img-fluid station ") %>
    </div>
      <h1 class="text-white mb-5">Explore le plus grand <del>incubateur</del><br> cimetière des startups françaises</h1>
  </div>

  </div>
