<div class="banner-div">
  <%= render partial: "banner" %>
</div>



      <div class=" text-center p-5 ">
        <h3 class="text-center p-1 text-white">ARTICLES </h3>
      </div>
      <hr class="ligne">

          <div class="article">
            <ul class="article-list">
              <li><a
                  href="https://www.usinenouvelle.com/editorial/face-aux-difficultes-de-financement-les-start-up-reclament-davantage-de-commandes-privees-et-publiques.N2170247">Face
                  aux difficultés de financement, les start-up réclament davantage de commandes privées et publiques</a>
              </li>
              <li><a
                  href="https://business-cool.com/actualites/actu-business/startup-kikikickz-liquidation-judiciaire/">La
                  startup Kikikickz placée en liquidation judiciaire</a></li>
              <li><a href="https://www.frenchweb.fr/fin-du-dreem-pour-de-nombreuses-startups/443589">Fin du DREEM pour
                  de nombreuses startups.</a></li>
              <li><a href="https://www.maddyness.com/2023/10/27/luko-rachat-liquidation/">Luko au bord du gouffre :
                  comment la startup en est arrivée là</a></li>
                   <li><a href="https://www.maddyness.com/2022/10/28/liquidation-next-station/">La liquidation de Next
                  Station racontée par un de ses cofondateurs</a></li>
              <li><a href="https://www.frenchweb.fr/jai-22-ans-et-jai-plante-ma-premiere-start-up/302083">J’ai 22 ans et
                  j’ai planté ma première start-up</a></li>
            </ul>
          </div>
    </div>
<div class="col-12 newsletter-subscribe p-2 pb-5 d-flex flex-column text-start">
  <div>
    <h4 class="text-white mx-5">La nécrologie des startups dans tes mails chaque dernier vendredi du mois ! </h4>
  </div>
  <div>
    <form action="<%= new_user_session_path %>" method="get" class="mx-5 d-flex w-100 justify-content-start  ">
      <input type="email" name="email" placeholder="Votre adresse e-mail" required />
      <button type="submit" class="btn-special-gray">S'abonner</button>
    </form>
  </div>
</div>

  <%#div class="container-fluid shadow-sm m-3 d-flex justify-content-evenly">
  <%# <div class="mx-2 col-12 d-flex align-items-center flex-column">
        <h2 class="text-white mb-3">PARI SUR LE PROCHAIN DEFUNT !</h2>
        <div class="col-6 d-flex justify-content-between align-items-center">
          <div class="d-flex flex-column align-items-center">
            <h6 class="text-white">Wakely</h6>
            <h3 class="text-white">1.96</h3>
          </div>
          <div><h3 class="text-white">OU</h3></div>
          <div class="d-flex flex-column align-items-center">
            <h6 class="text-white">Astreinte</h6>
            <h3 class="text-white">1.92</h3>
          </div>
        </div>
        <p class="text-white"><i>Cotes fournies par Betfriends</i></p>
      </div> %>
