<div>
  <div>
    <%= render partial: "banner" %>
    <div class="text-center">
      <%= render partial: "shared/button" %>
    </div>
  </div>
  <div class="container-fluid shadow-sm m-3 d-flex justify-content-evenly">
    <div class="mx-2 col-6">

      <div class="banner cim-ban-left col-5" style="background-color: $black">
        <h3 class="text-center p-1"><i class="fa-solid fa-skull mx-2"></i>DERNIERS DEFUNTS<i class="fa-solid fa-skull mx-2"></i></h3>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button btn-success" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button btn-success" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button btn-success" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% Startup.last(3).each do |startup| %>
            <div class="carousel-item active">
              <div class="project-wrapper-lg">
                <%= render partial: "startups/startup_card", locals: {startup: startup} %>
              </div>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="mx-2 col-5 d-flex align-items-center flex-column">

      <div class="banner cim-ban-right col-5 mb-5" style="background-color: $black">
        <h3 class="text-center p-1">DERNIERS ARTICLES </h3>
      </div>

      <div class="all">
        <div class="container article">
          <div class="row p-4">
          <ul class="article-list">
          <li><a href="https://www.usinenouvelle.com/editorial/face-aux-difficultes-de-financement-les-start-up-reclament-davantage-de-commandes-privees-et-publiques.N2170247">Face aux difficultés de financement, les start-up réclament davantage de commandes privées et publiques</a></li>
          <li><a href="https://business-cool.com/actualites/actu-business/startup-kikikickz-liquidation-judiciaire/">La startup Kikikickz placée en liquidation judiciaire</a></li>
          <li><a href="https://www.frenchweb.fr/fin-du-dreem-pour-de-nombreuses-startups/443589">Fin du DREEM pour de nombreuses startups.</a></li>
          <li><a href="https://www.maddyness.com/2023/10/27/luko-rachat-liquidation/">Luko au bord du gouffre : comment la startup en est arrivée là</a></li>

          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
