<div class="bg-dark min-vh-100">
<div>
      <%= render partial: "banner" %>
  </div>
<div class="container">
    <div class="text-center">
      <%= render partial: "shared/button" %>
    </div>
</div>


</div>
