
  <div class="d-flex">
  <div>
    <%= render partial: "banner" %>
  </div>
  <div>
    <%= render partial: "shared/button" %>
  </div>
</div>

<div data-controller="game" data-game-target="div">
  <%= javascript_pack_tag 'game' %>
</div>
