<div class="container col-8">
 <div class="phone-body">
 <img src="https://raw.githubusercontent.com/gwittebolle/station_fails/master/app/assets/images/worm.png" alt="Worm Image" style="height:auto; width:200px" >
<h3 class="text-white player-font">Sortie de StationFails sur mobile en 2024 !!</h3>
</div>
</div>
