
  <div class="container">
    <div class="d-flex justify-content-around">
      <div class="card m-5">
        <h2 class="text-center">STATS</h2>
          <ul>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
          </ul>
        </div>
    <div class="card m-5">
      <h1 class="text-center">VICTOIRE !!</h1>
      <p class="text-center">Apres de nombreuse aventures en tant que pytoyable verre de terre vous etes devenu une licorne magnifique !</p>
      <%= image_tag "fucking_unicorn", width: 250, height: 250, class: "align-items-center" %>
    </div>
    </div>
  </div>
