<div class="d-flex justify-content-around flex-column align-items-center">
  <h1 class="mb-4 purple-level text-center pt-4">VICTOIRE !!</h1>
  <%= image_tag "fucking_unicorn", width: 250, height: 250, class: "mx-auto d-block my-4 move-left element" %>

    <div class="banner-unicorn m-5 text-center col-9">
      <ul class="scrollCredits">
      <h2 class="text-white">Credits :</h2>
      <li><a class="style-none bigger" href="https://github.com/alice-slgr" target="_blank">Alice Salgueiro</a></li>
      <li><a class="style-none bigger " href="https://github.com/gwittebolle" target="_blank">Gaetan Wittebolle</a></li>
      <li><a class="style-none bigger" href="https://github.com/SalocinE" target="_blank">Nicolas Esteve</a></li>
      <li><a class="style-none bigger" href="https://github.com/Insuliam" target="_blank">Liam Bourgoin</a></li>
      <br>
      <h2 class="text-white">Remerciements :</h2>
      <li><a class="style-none bigger" href="https://www.lewagon.com/fr" target="_blank">Toute l'équipe du Wagon</a></li>
      </ul>


    </div>
</div>
