
  <div class="container">
    <div class="d-flex justify-content-around">
      <div class="card m-5">
        <h2 class="text-center">STATS</h2>
          <ul>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
            <li>BLABLBAL</li>
          </ul>
        </div>
<div class="card m-5 text-center">
  <h1 class="mb-4">VICTOIRE !!</h1>
  <h6>Après de nombreuses aventures en tant que pauvre ver de terre, vous êtes devenu une licorne magnifique !</h6>
  <%= image_tag "fucking_unicorn", width: 250, height: 250, class: "mx-auto d-block my-4" %>
</div>

    </div>
  </div>
