

<div class="all">
  <div class="container">
    <div class="d-flex">
      <h2 class="text-center">VICTOIRE</h2>
      <%= image_tag "fucking_unicorn", width: 500, height: 500, class: "align-items-center" %>
    </div>
  </div>
</div>
