<div class="all">
  <div class="container">
    <div class="d-flex justify-content-center">

      <%= render partial: 'shared/project_card', locals: { project: @project } %>

  </div>
</div>

</div>
