<div class="container project-show">

  <%= render partial: 'shared/project_card', locals: { project: @project } %>
  <!-- Ajoutez d'autres détails du projet ici -->
  <%= link_to 'Play', project_level_path(@project) %>
  
</div>
