<% case @level.index %>
<% when 1%>
  <h3 > Votre objectif :</h3>
  <p>Explorez le cimetière des startups, collectez des fonds auprès de vos proches
  et constituez votre capital de départ.
  Franchissez la barre des 10.000 € pour accéder à l'étape suivante.
  </p>
<%when 2%>
  <h3><b>Votre objectif :</b></h3>
  <p>Continuez d'explorer le cimetière des startups, obtenez des subventions auprès des organismes
  publics tels que la BPI ou auprès de mentors comme Tony Parker. Evitez les requins !
  Franchissez la barre des 150.000 € pour accéder à l'étape suivante.
  </p>
<%when 3%>
  <h3><b>Votre objectif :</b></h3>
  <p>Vous connaissez de mieux en mieux le cimetière des startups et vous gagnez en expérience.
  Démarchez les gros investisseurs et changez de dimension. Evitez les requins !
  Franchissez la barre des 1.500.000 € pour accéder à l'étape suivante.
  </p>
<%when 4%>
  <h3><b>Votre objectif :</b></h3>
  <p>Le cimetère n'a désormais plus de secrets pour vous.
  Visez l'introdution en bourse et partez à la conquête de l'eurolist. Evitez les requins !
  Franchissez la barre des 100.000.000 € pour accéder au graal.
  </p>
<% end %>
