<div class="level-card">
  <div class="text-center p-3 d-flex align-items-center flex-column">
    <div>
        <%=  image_tag('even_level_rank.png', width: 480, height: 360, crop: :fill) %>
    </div>
    <div class="">
      <span class="p-1 level-index"><b><%= @level.index %></b></span>
    </div>
  </div>
</div>
