<% case @level.index %>
<% when 1%>
  <h3 > Votre objectif :</h3>
  <p>Explore le cimetière des startups, collecte des fonds auprès de vos proches
  et constitue votre capital de départ.
  Franchis la barre des 2.000 € pour accéder à l'étape suivante.
  </p>
<%when 2%>
  <h3><b>Votre objectif :</b></h3>
  <p>Continue d'explorer le cimetière des startups, obtiens des subventions auprès des organismes
  publics tels que la BPI.
  Franchis la barre des 10.000 € pour accéder à l'étape suivante.
  </p>
<%when 3%>
  <h3><b>Votre objectif :</b></h3>
  <p>Tu connais de mieux en mieux le cimetière des startups et tu gagnes en expérience.
  Démarche les gros investisseurs et change de dimension. Evite les requins !
  Franchis la barre des 1.000.000 € pour accéder à l'étape suivante.
  </p>
<%when 4%>
  <h3><b>Votre objectif :</b></h3>
  <p>Le cimetère n'a désormais plus de secrets pour vous.
  Vise l'introdution en bourse et pars à la conquête de l'eurolist. Evite les requins !
  Franchis la barre des 100.000.000 € pour accéder au graal.
  </p>
<% end %>
