<div class="level-card">
  <div class="text-center p-3 d-flex align-items-center flex-column">
    <div class="">
      <span class="p-1 level-index level align-items-center"> LEVEL  <b><%= @level.index %></b></span>
    </div>
  </div>
</div>
