// _article.scss

.article {
  list-style-type: none;

  li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 30px; // Ajuster l'espace à gauche pour le contenu

  }

  .article-list {
    padding-right: 30px; // Ajouter du padding à droite pour la liste
  }

  a {
    text-decoration: none;
    font-size: 18px;
    color: $white;
    transition: color 0.3s;

    &:hover {
      color: $neon-green;
    }
  }
}
