.banner {
  background-size: cover;
  padding: 90px ;
  Height: 250px;

}

.banner h1 {
  padding: 20px;
  color: $neon-green;
  font-size: 80px;

}

.banner h3 {
  padding: 20px;
  color: $neon-green;

}
