.banner {
  background-size: cover;
  padding: 90px ;

  background-color: $gray;
}

.banner h1 {
  padding: 20px;
  color: $white;
  font-size: 80px;

}

.banner h3 {
  padding: 20px;
  color: $white;

}
