.banner {
  background-size: cover;
  padding: 90px ;
  background-color: $black;
  border-bottom: 3px solid $white;


}

.banner h1 {
  padding: 20px;
  color: $white;
  font-size: 80px;

}
.banner img {
  height: 80px;
  margin-top: 20px;

}

.banner h3 {
  padding: 20px;
  color: $white;

}
