.beta-banner {
  background-color: $neon-green;
  color: $black;
  padding: 2px;
  text-align: center;
  align-items: center;
  padding-top: 8px;
}
.beta-banner-shine {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.beta-banner-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
  opacity: 0;
  animation: shine 5s infinite linear;
}

@keyframes shine {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
