.green-banner {
  background-color: $neon-green;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.banner-title {
  font-size: calc(1.157684630738523vw + -0.20109780439121744em);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 1em;
}

.btn-green-banner {
  padding-left:60px;
  padding-right:60px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  border-radius: 0px;
  text-decoration: none;
  min-height: 3rem;
  background-color: $black;
  border : 2px solid #3d3d3d;
  font-family: $players-font;
  font-size: 20px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;


  &:hover {
    transform: scale(1.02);
    background-color:  $grave-gray;
    border : 3px solid  #898181;
    color: $black;
    font-weight: bolder;
      border: 4px solid #fff;
      border-radius: 0px;
      box-shadow:
        0 0 8px #fff,
        inset 0 0 8px #fff,
        0 0 16px #37f713,
        inset 0 0 16px #37f713,
        0 0 32px #37f713,
        inset 0 0 32px #37f713;
    }

}

.btn-blink-banner {
  padding-left:20px;
  padding-right:20px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  border-radius: 0px;
  text-decoration: none;
  min-height: 6rem;
  background-color: $black;
  font-family: $players-font;
  font-size: 20px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

    &:hover {
      color: $white;
      box-shadow: 0 0 10px 3px $neon-purple;
      border: none;
    }

}


.info-card {
  position: relative;
  padding: 20px;
  text-align: left;
  border: 2px solid black;
  width: 30%;
  margin: 10px;
  text-transform: uppercase;

  img.hover-image {
    position: absolute;
    top: 0;
    right: 20px;
    width: 80px;
    height: 80px;
    display: none;
    transition: all 0.3s ease;
  }

  &:hover img.hover-image {
    display: block;
  }
}



.info-card h1 {
  font-size: 4em; /* Chiffre agrandi */
  font-weight: 700;
  color: var(--dark-green);
  margin-bottom: 10px;
}

.info-card p {
  font-size: 1.2em;
  color: var(--grey);
  margin-bottom: 20px;
}

.info-card .explanation {
  font-size: 1em;
  color: var(--grey);
}
