.navbar {
  justify-content: space-between;
  background: $black;
  color: $neon-green;

}

h2 {
  font-size: 20px;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 200px;
}

.nav-link {
  color: $neon-green;

  &:hover {
    color: $white
  }
}
.nav-link {
  color: $white;
  font-weight: bolder;
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 22px;
  margin-bottom: 10px;

  &:hover {
    transform: scale(1.05);

  }

}
